{% extends 'base.html' %}

{% block title %}Lista de Productos - Panel de Administración{% endblock %}

{% block content %}
<h1>Lista de Productos</h1>
<a href="{% url 'management:add_product' %}" class="btn btn-primary mb-3">Agregar Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description|truncatewords:10 }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>
                <a href="{% url 'management:edit_product' product.pk %}" class="btn btn-warning">Editar</a>
            </td>
            <td>
                <a href="{% url 'management:delete_product' product.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
